.carousel-group {
  display: flex;
  justify-content: space-between;
}

.carousel-item {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.imgBorder {
  width: 100%;
  height: auto;
}

.movieTitle, .showTitle {
  font-size: 1rem;
  text-align: center;
} 
